.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.authenticated__content {
    background-color: #f1f1f1;
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.authenticated__heading {
    font-size: 15px;
    margin-bottom: 30px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    margin-bottom: 15px;
}


.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 500px;
    border: 1px solid #888;
    border-radius: 3px;

    appearance: none;
}

.form__input--text input {
    height: 40px;
}

.form__button-submit {
    padding: 10px;
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #566EBA;
    color: #fff;
    cursor: pointer;
}

.form__register--announce {
    margin: auto 0px;
    padding-top: 30px;
    color: #757575;
}

.form__button--register-submit {
    text-align: center;
    appearance: none;
    border: none;
    outline: none;
    background-color: unset;
    margin: 0px;
    color: #566EBA;
    font-weight: bold;
}

footer {
    text-align: center;
}